<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
<!-- 定义数据源 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
    	<property name="driverClass"  value="com.mysql.jdbc.Driver"></property>
    	<property name="jdbcUrl"  value="jdbc:mysql://127.0.0.1:3306/Questionnaire_System"></property>
    	<property name="user" value="root"></property>
    	<property name="password" value="174151"></property>
    	<property name="maxPoolSize" value="40"></property>
    	<property name="minPoolSize" value="5"></property>
    	<property name="initialPoolSize" value="5"></property>
    	<property name="maxIdleTime" value="20"></property>
    </bean>
    
    <!-- 定义 sessionFactory-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
    	<property name="dataSource" ref="dataSource"/>
    	<property name="mappingResources">
    		<list>
	    		<value>com/xeon/model/UserModel.hbm.xml</value>
	    		<value>com/xeon/model/PollModel.hbm.xml</value>
	    		<value>com/xeon/model/QuestionModel.hbm.xml</value>
	    		<value>com/xeon/model/OptionModel.hbm.xml</value>
	    		<value>com/xeon/model/AnswerModel.hbm.xml</value>
	    		<value>com/xeon/model/allowCollege.hbm.xml</value>
    		</list>
    	</property>
    	
    	<property name="hibernateProperties">
    		<value>
    			hibernate.dialect=org.hibernate.dialect.MySQLDialect
    			hibernate.hbm2ddl.auto=update
    		    hibernate.show_sql=true 
    		</value>
    	</property>
    </bean>
    
    <!-- 定义事物管理器 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <!-- 定义全局的代理-->
    <bean id="transactionBase" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" lazy-init="true" abstract="true">
    <!-- 配置事物管理器 -->
    	<property name="transactionManager" ref="transactionManager"/>
    	<!-- 配置事物属性 -->
    	<property name="transactionAttributes">
    		<props>
    			<prop key="*">PROPAGATION_REQUIRED</prop>
    		</props>
    	</property>
    </bean>
    
    <!-- 定义工具 -->
    <bean id="util" class="com.xeon.util.impl.UtilImpl"></bean>
    <!-- 定义DaoTarger-->
    <bean id="userDaoTarger" class="com.xeon.dao.impl.UserDaoImpl">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="pollDaoTarger" class="com.xeon.dao.impl.PollDaoImpl">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="questionDaoTarger" class="com.xeon.dao.impl.QuestionDaoImpl">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="optionDaoTarger" class="com.xeon.dao.impl.OptionDaoImpl">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="answerDaoTarger" class="com.xeon.dao.impl.AnswerDaoImpl">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="allowCollegeDaoTarger" class="com.xeon.dao.impl.AllowCollegeDaoImpl">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!-- adminUserDaoTarger -->
    <bean id="adminUserDaoTarger" class="com.xeon.dao.impl.AdminOfUserDaoImpl">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="adminPollDaoTarger" class="com.xeon.dao.impl.AdminOfPollDaoImpl">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <!-- 定义Dao -->
    <bean id="userDao" parent="transactionBase">
    	<property name="target" ref="userDaoTarger"/>
    </bean>
    <bean id="pollDao" parent="transactionBase">
    	<property name="target" ref="pollDaoTarger"/>
    </bean>
    <bean id="questionDao" parent="transactionBase">
    	<property name="target" ref="questionDaoTarger"/>
    </bean>
    <bean id="optionDao" parent="transactionBase">
    	<property name="target" ref="optionDaoTarger"/>
    </bean>
    <bean id="answerDao" parent="transactionBase">
    	<property name="target" ref="answerDaoTarger"/>
    </bean>
    <bean id="allowCollegeDao" parent="transactionBase">
    	<property name="target" ref="allowCollegeDaoTarger"/>
    </bean>
    <!-- admin专有 -->
    <bean id="adminUserDao" parent="transactionBase">
    	<property name="target" ref="adminUserDaoTarger"/>
    </bean>
    <bean id="adminPollDao" parent="transactionBase">
    	<property name="target" ref="adminPollDaoTarger"/>
    </bean>
    
    <!-- 定义servie -->
    <!-- 登陆相关 -->
    <bean id="logService" class="com.xeon.service.impl.LogServiceImpl">
    	<property name="userDao" ref="userDao"/>
    	<property name="util" ref="util"/>
    </bean>
    <!-- 管理员管理用户服务 -->
    <bean id="adminUserService" class="com.xeon.service.impl.AdminOfUserServiceImpl">
    	<property name="adminUserDao" ref="adminUserDao"/>
    	<property name="userDao" ref="userDao"/>
    	<property name="answerDao" ref="answerDao"/>
    	<property name="util" ref="util"/>
    </bean>
    <!-- 管理员管理问卷 -->
    <bean id="adminPollService" class="com.xeon.service.impl.AdminOfPollServiceImpl">
    	<property name="util" ref="util"/>
    	<property name="pollDao" ref="pollDao"/>
    	<property name="questionDao" ref="questionDao"/>
    	<property name="optionDao" ref="optionDao"/>
    	<property name="allowCollegeDao" ref="allowCollegeDao"/>
    	<property name="answerDao" ref="answerDao"/>
    	<property name="adminPollDao" ref="adminPollDao"/>
    </bean>
    <!-- 辅助服务 -->
    <bean id="auxiliaryService" class="com.xeon.service.impl.AuxiliaryServiceImpl">
    	<property name="util" ref="util"/>
    </bean>
    <!-- 定义action -->
    <!-- 登陆相关 -->
    <bean id="LogAction" class="com.xeon.action.LogAction" scope="prototype">
    	<property name="logService" ref="logService"/>
    </bean>
    <!-- 消息相关 -->
    <bean id="msgAction" class="com.xeon.action.MessageAction" scope="prototype">
    	<property name="util" ref="util"/>
    </bean>
    <!-- 管理员管理用户相关 -->
    <bean id="adminAction" class="com.xeon.action.AdminAction" scope="prototype">
    	<property name="adminUserService" ref="adminUserService"/>
    	<property name="adminPollService" ref="adminPollService"/>
    	<property name="util" ref="util"/>
    </bean>
    <bean id="auxiliaryAction" class="com.xeon.action.AuxiliaryAction" scope="prototype">
    	<property name="util" ref="util"/>
    	<property name="auxiliaryService" ref="auxiliaryService"/>
    </bean>
 
   <!-- 跳转功能 -->
   <bean id="jump" class="com.xeon.action.JumpAction" scope="prototype">
   		<property name="util" ref="util"/>
   </bean>
   
</beans>
































